<a href="#" {{action 'backSwitchPicture'}}><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
<img class="carouselPic" {{bind-attr src=whichPicture}}>
<a href="#" {{action 'switchPicture'}}> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>




<div class="row">
  <div class="col-md-6 col-xs-6 col-sm-6">
    {{#link-to 'books'}}<h3>Book Reviews</h3>
    <img src="css/img/benjaminsbooks.jpg">{{/link-to}}
  </div>
  <div class="col-md-6 col-xs-6 col-sm-6">
    {{#link-to 'music'}}
      <h3>Local Concerts</h3>
      <img src="css/img/music.jpg">
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-6 col-sm-6">
    {{#link-to 'movies'}}
      <h3>New Releases</h3>
      <img src="css/img/movies.jpg">
    {{/link-to}}
  </div>

  <div class="col-md-6 col-xs-6 col-sm-6">
    {{#link-to 'books'}}
      <h3>Bake Something, yeah!</h3>
      <img src="css/img/food.jpg">
    {{/link-to}}
  </div>
</div>
